# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.env

# YOLO Model
*.pt
app/models/

# Uploaded Files
app/static/uploads/*
!app/static/uploads/.gitkeep

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log